<footer class="main">
	<ul class="icons">
		<li><a href="https://www.linkedin.com/in/sayaksen/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
		<li><a href="https://github.com/Sayak9495" class="icon fa-github"><span class="label">GitHub</span></a></li>
		<li><a href="https://stackoverflow.com/users/4509038/sayak-sen" class="icon fa-stack-overflow"><span class="label">StackOverflow</span></a></li>
		<li><a href="https://twitter.com/sayak9495" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="https://www.instagram.com/sayaksen/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
	</ul>
	<p class="copyright">&copy; Sayak Sen. Design: <a href="http://bit.ly/2jE0P3M">tech0</a>
</footer>
</body>
</html>