<footer class="main">
	<ul class="icons">
		<li><a href="http://bit.ly/2jjrX4N" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
		<li><a href="http://bit.ly/2iGvc5n" class="icon fa-github"><span class="label">GitHub</span></a></li>
		<li><a href="http://bit.ly/2j89avT" class="icon fa-stack-overflow"><span class="label">StackOverflow</span></a></li>
		<li><a href="http://bit.ly/2jE0P3M" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="http://bit.ly/2j88OFA" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
	</ul>
	<p class="copyright">&copy; Sayak Sen. Design: <a href="http://bit.ly/2jE0P3M">tech0</a>
</footer>
</body>
</html>