<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sayak Sen- a noob techie</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="author" content="Sayak Sen">
	<meta name="description" content="Sayak Sen - Blog of a noob techie. Chess, Cardistry and Cosmos enthusiast. And a Software Engineer.">
	<meta name="keywords" content="developer, blog, python, golang, php, sayak, Software Engineer, sayak sen, computer, programming, srm">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<!-- Icon by Icons8 - visit icons8.com for more -->
</head>
<body class="home language-php">
	<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101261194);</script>
	<script async src="//static.getclicky.com/js"></script>
	<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101261194ns.gif" /></p></noscript>
	<section class="panel statement color">
		<a href="https://github.com/Sayak9495/sayaksen.in" class="github">
			<img src="images/github.png" alt="Github">
		</a>
		<div class="content">
			<h1>Sayak Sen</h1>
			<p>Solving one problem at a time. &a Software Engineer</p>
			<div class="strip">
				<a href="/blogSpace"><p> Blog-Space </p></a>
				<a href="/resume"><p> Resume </p></a>
				<a href="/workSpace"><p> Work-Space </p></a>
			</div>
		</div>
	</section>
</body>
</html>